array_test.py
enum_test.py
*.npy
*.prof
*.pyc
*.docx
*.xlsx
data_analysis_backup.py
game_backup.py
game_random_shots.py
heatmap.py
generators_test.py
param_sens_study_2nd_stage.py
prob_map_advanced - Copy.py
prob_map_full_board.py
prob_map_full_board_autotester.py
prob_map_mc_vs_blank.py
prob_map_montecarlo_combs.py
random_distribution.py
random_distribution_backup.py
read_adv_library.py
utilize_ones.py
testowanie.py
test_2.py
test.py
shots.py
profile.svg
prob_map_basic.py
param_sens_study/Figure_1.png
avg_res_file.csv
advanced_autovalidation.py
notes
/backups
*.toc
*.zip
*.exe
*.pkg
*.pyz
build/param_sens_study/warn-param_sens_study.txt
*.html
/dist/param_sens_study/_internal
/prob_maps_adv_lmdb
/prob_maps_mc_lmdb
/RTP_shards
/RTP_shards_v2
/venv
/.idea
/.idea
/.idea
*.pptx
*.spec
bias.py
adv_time_data.csv
all_games_results - Copy.csv
/bias_checks
bias_detection_study_01.ipynb
fun_8x8.py
notes
random_board_generator_8x8.py
test_3.py
biased_boards.csv
random_boards.csv
/bias_checks
bias_checks/biased_boards.csv
bias_checks/random_boards.csv
